.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 150px;
    overflow-y: auto;
}

/* .inputimage: {
    width: 100%;
    height: 25%;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
} */

.sw-theme-default {
    border: none;
}

.sw-theme-default > .nav {
    box-shadow: none;
}

.sw-theme-default > .nav {
    box-shadow: none;
}

.sw-theme-default .toolbar > .btn {
    background-color: #fc410c;
    border: 1px solid #fc410c;
}

.sidebar-right .nice-select .option {
    background: rgba(0, 0, 0, 0.05) !important;
}

.border-dotted {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%233D3D50FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='3' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 14px;
    height: 170px;
    cursor: pointer;
}

.tab-content {
    min-height: 320px;
    height: auto !important;
}

.ck.ck-editor__main > .ck-editor__editable {
    background: #212130 !important;
}

.ck.ck-reset_all,
.ck.ck-reset_all * {
    color: white !important;
}

.ck.ck-toolbar {
    background: #171622 !important;
    border-color: #2e2e42 !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: #2e2e42 !important;
}

.ck.ck-editor__main > .ck-editor__editable.ck-focused {
    border-color: #624fd1 !important;
}

.ck.ck-list {
    background: #2e2e42;
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
    background: #2e2e42 !important;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background: #171622 !important;
}

.ck.ck-button {
    background: #2e2e42 !important;
}

.form-control {
    font-size: 14px !important;
}

#invitacionesTable tbody tr {
    cursor: pointer;
}

#invitacionesTable tbody tr:hover {
    background-color: #171622 !important;
}

#invitacionesTable tbody tr:hover td {
    color: #fff;
}

.file-container {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 1.75rem;
    padding: 1px;
    margin: 1px;
    border: 0.063rem solid transparent;
}

.file-name {
    margin-right: 10px;
    margin-left: 5px;
    color: black;
}

.delete-button {
    background-color: red;
    border: none;
    color: white;    
    border-radius: 205px;
    padding: 6px;
}

.delete-button2 {
    background-color: red;
    border: none;
    color: white;    
    border-radius: 205px;
    padding: 6px;
}

.delete-button:hover {
    background-color: white;
    color: black;
}

.delete-button2:hover {
    background-color: white;
    color: black;
}

.grupoDePlatos:hover {
    background-color: #171622 !important;
    cursor: pointer;
}

.grupoDePlatos {
    padding: 8px;
    border-radius: 10px;
}

.new-arrivals-img-contnent img {
    height: 200px !important;
    object-fit: cover;
}